.container {
    margin-top: 0px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;

}

.box {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;

}

#box1 {
    background-color: red;
    flex-grow: 1;
}

#box2 {
    background-color: green;
    flex-grow: 3;
}

#box3 {
    background-color: purple;
    flex-grow: 1;
}