body {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    background-color: yellow;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: solid 1px black;
    padding: 10px;
    font-size: 24px;
}

.imagem-flutuante {
    float: left;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.subtitulo {
    clear: both;
}
